<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS}[%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/out.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!--    关闭指定包下日志的输出-->
    <logger name="com.example.springbootdemo.controller" level="off">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--    打印mybatis sql-->
    <logger name="com.example.springbootdemo.dao" level="DEBUG"/>

    <!--   spring security 日志级别-->
    <logger name="org.springframework.security" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>