<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .sr-only{width:80px;display:inline-block;text-align: match-parent}
        .form-control{width: 120px}
        .form-signin{margin: 0 auto;width:220px;}
    </style>
</head>
<body>
<div class="container" style="">
    <form class="form-signin" method="post" th:action="@{/login}">
        <h2>用户登录</h2>
        <p>
            <label for="username" class="sr-only">用户名</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username">
        </p>
        <p>
            <label for="password" class="sr-only">密码</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
        </p>
        <button type="submit">登录</button>
    </form>
</div>
</body>
</html>
